:root {
  --text-color: #111517;
  --search-color: #848484;
  --bg-color: #fafafa;
  --header-bg-color: #fff;
}

.dark-mode {
  --bg-color: #202C36;
  --text-color: #fff;
  --header-bg-color: #2B3844;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed #81b8cb;
  outline-offset: 3px;
}

.header{ background: #FFF;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);

} 
.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 24px;
}

.header-text {
  margin-top: 0;
  width: 234px;
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
}

.header-button::before {
  margin-right: 8px;
  content: "";
  background-image: url(../img/Group\ 3.svg);
  width: 20px;
  height: 20px;
}


.header-back {}