:root {
  --text-color: #111517;
  --search-color: #848484;
  --bg-color: #fafafa;
  --header-bg-color: #fff;
}

.dark-mode {
  --bg-color: #202C36;
  --text-color: #fff;
  --header-bg-color: #2B3844;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed #81b8cb;
  outline-offset: 3px;
}

.header {
  background-color: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 80px;

}

.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 24px;
}

.header-link {
  text-decoration: none;
}

.header-text {
  margin-top: 0;
  width: 234px;
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
}

.header-button::before {
  margin-right: 8px;
  content: "";
  background-image: url(../img/Group\ 3.svg);
  width: 20px;
  height: 20px;
}

.main-site {
  background: var(--bg-color);
}



.header-back {
  border: 0;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: #a6b0ba;
  margin-bottom: 80px;
}
.back{
  text-decoration: none;
}

.header-span::before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../img/call-made.svg);
}

.header-span {
  display: flex;
  border-radius: 6px;
  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  background-color: var(--bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 39px;
  padding-left: 32px;


}

.footer{
  display: flex;
  align-items: center;
}
.footer-flag{
  width: 560px;
  height: 483px;
  border-radius: 6px;
  margin-right: 120px;
}


.footer-item{
  display: flex;
}
.footer-div{
  margin-bottom: 70px;
}
.footer-div:not(:last-child){
margin-right: 141px;
}

.footer-country{
  margin-top: 0;
  margin-bottom: 23px;
  width: 124px;
  color: #111517;
font-family: Nunito Sans;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}



.country-information{
  margin-top: 0;
  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.footer-span{
margin-top: 0;
  color: #111517;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; 
}


.footer-list{
  display: flex;  
  align-items: center;
}


.footer-text{
  margin-right: 12px;
  width: 128px; 
  color: #111517;
font-family: Nunito Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
}
.footer-countries-name{
  cursor: pointer;
padding-top: 5px;
padding-bottom: 4px;
padding-left: 27px;
padding-right: 28px;

border-radius: 2px;
border: 0px solid #979797;
background: #FFF;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.10);
}
