:root {
  --text-color: #111517;
  --search-color: #848484;
  --bg-color: #fafafa;
  --header-bg-color: #fff;
  --items: #848484;
}

.dark-mode {
  --bg-color: #202C36;
  --text-color: #fff;
  --header-bg-color: #2B3844;
  --search-color: #fff;
  --items: #fff;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}


::-webkit-input-placeholder {
  /* Webkit, Blink. Edge */
  color:var(--search-color);
}

:-moz-placeholder {
  /* Mozilla, Firefox 4 to 18 */
  color: var(--search-color);
  opacity: 1;
}

:-moz-placeholder {
  /* Mozilla, Firefox 19+ */
  color: var(--search-color);
  opacity: 1;
}

:-moz-input-placeholder {
  /* Internet Explorer  10-11 */
  color: var(--search-color);
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed #81b8cb;
  outline-offset: 3px;
}

.header {
  background-color: var(--header-bg-color);
}

.header-site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 24px;
}

.header-text {
  margin-top: 0;
  width: 234px;
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 0;
  color: var(--text-color);
  background-color: transparent;
}



.header-dark-mode {
  display: flex;
  align-items: center;
}

.header-dark-mode::before {

  margin-right: 8px;
  content: "";
  background-image: url(../img/Group\ 3.svg);
  width: 20px;
  height: 20px;
}


.header-list {
  background-color: var(--bg-color);
  width: 100%;
  height: 1024px;
  padding-top: 48px;
}

.header-search {
  display: flex;
  width: 100%;
  border: 0;
  max-width: 480px;
  height: 56px;
  border-radius: 5px;
  background: var(--text-color);
  color: var(--search-color);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 32px;
  margin-bottom: 48px;

}

.header-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-div {
  position: relative;
}

.header-option {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 50px;
  border-radius: 5px;
  border: 0;
  background-color: var(--header-bg-color);
  color: var(--text-color);

}

.header-item {

  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.header-input {
  border: 0;
  color: var(--items);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 74px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 270px;
  border-radius: 5px;
  margin-bottom: 48px;
  background-color: var(--header-bg-color);
}

.header-svg {
  color: var(--items);
  position: absolute;
  top: 19px;
  left: 32px;
}


.footer-ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer-ul:not(:last-child) {
  margin-bottom: 67px;
}

.footer-li:not(:last-child) {
  margin-right: 75px;
}

.footer-li {
  list-style: none;
}

.footer-div {
  padding-top: 24px;
  padding-left: 23px;
  padding-bottom: 46px;

  border-radius: 5px;
  background-color: var(--header-bg-color);

}

.country-link {
  text-decoration: none;
}

.country-name {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 26px;
}

.footer-text {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
}

.footer-span {
  color: var(--text-color);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px
}